{{> admin/header}}

{{> admin/sidebar}}

{{> admin/navbar}}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-8 grid-margin stretch-card">
                <div class="card p-3 friend-music">
                    <div class="text-center">
                        <h3>All Music</h3>
                    </div>
                    <div class="music-list">
                        <p>Astronaut In The Ocean</p>
                        <audio id="friend-music" controls>
                            <source src="/public/Masked Wolf - Astronaut In The Ocean.mp3">
                        </audio>
                    </div>
                    <div class="music-list">
                        <p>Astronaut In The Ocean</p>
                        <audio id="friend-music" controls>
                            <source src="/public/Masked Wolf - Astronaut In The Ocean.mp3">
                        </audio>
                    </div>
                    <div class="music-list">
                        <p>Astronaut In The Ocean</p>
                        <audio id="friend-music" controls>
                            <source src="/public/Masked Wolf - Astronaut In The Ocean.mp3">
                        </audio>
                    </div>
                    <div class="music-list">
                        <p>Astronaut In The Ocean</p>
                        <audio id="friend-music" controls>
                            <source src="/public/Masked Wolf - Astronaut In The Ocean.mp3">
                        </audio>
                    </div>
                    <div class="music-list">
                        <p>Astronaut In The Ocean</p>
                        <audio id="friend-music" controls>
                            <source src="/public/Masked Wolf - Astronaut In The Ocean.mp3">
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 grid-margin">
                <div class="card p-3">
                    <h3 class="text-center mb-3">Attention</h3>
                    <p>You can see All of member music here. It include yours.</p>
                    <p>Beside that, homepage still contain all music to show. To add music you should login first.
                        This
                        is the advantage of being member.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> admin/footer}}