<footer>
    <div class="footer">
        <a href="#">
            <img src="/public/images/logo.svg" alt="" id="about" style="max-height: 125px" />
        </a>
        <br />
        <p style="text-align: justify">
            This is my Preclass Bootcamp project. The purpose of this simple apps
            is for music player. Another purpose is just improving my skill for
            doing web development.
        </p>
    </div>
    <div class="footer">
        <h4 style="margin-bottom: 20px">SITE MAP</h4>
        <div class="contact">
            <a href="#middle"><i class="fas fa-headphones-alt"></i> Featured Music</a>
            <a href="#bottom"><i class="fas fa-poll"></i> Trending Musics</a>
            <a href="#explore"><i class="fas fa-icons"></i> Explore Musics</a>
            <br />
            <hr />
            <br />
            <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/register"><i class="fas fa-user-check"></i> Register</a>
        </div>
    </div>
    <div class="footer">
        <h4 style="margin-bottom: 20px">OFFICE</h4>
        <div class="contact">
            <div class="contact">
                <a href=""><i class="fas fa-hotel"></i> Jl. Simomulyo Baru 05-E/17</a>
                <a href=""><i class="fas fa-crosshairs"></i> Surabaya</a>
                <a href=""><i class="fas fa-globe-asia"></i> Indonesia</a>
                <a href="callto:+6283830196355"><i class="fas fa-phone-alt"></i> +62 838-3019-6355</a>
                <a href=""><i class="fas fa-fax"></i> Fax: +6231 1234-1234</a>
                <a href="mailto:kembedt@gmail.com" target="_blank"><i class="far fa-envelope"></i>
                    office@mail.com</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <h4 style="margin-bottom: 20px">CONTACT US</h4>
        <div class="contact">
            <a href="https://facebook.com/zawawisme" target="_blank"><i class="fab fa-facebook-square"></i>
                Facebook</a>
            <a href="https://instagram.com/zed378" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="https://www.linkedin.com/in/muhammad-zawawi-65367a74/" target="_blank"><i
                    class="fab fa-linkedin"></i> LinkedIn</a>
            <a href="https://wa.me/6283830196355" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
            <a href="https://t.me//Unknown81" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
            <a href="mailto:kembedt@gmail.com" target="_blank"><i class="far fa-envelope"></i> Email</a>
        </div>
    </div>
    <div class="copyright" id="year"></div>
</footer>