<div class="listen" id="middle">
    <div class="bg-trans1">
        <h1 style="text-align: center; color: blueviolet">
            Listen Something You Feel About
        </h1>
        <br />
        <h3>
            You will tie your feeling when you heard music that describe you. You
            just enjoy the music when you are happy. But, you understand the lyric
            when you had a bad day.
        </h3>
        <br />
        <i class="fas fa-chevron-circle-right fa-3x"></i>
    </div>
    <div class="content">
        <div class="player">
            <img src="/public/images/cover.webp" alt="" style="min-width: 85%; max-width: 90%" />
            <br />
            <h2>{{mus.0.title}}</h2>
            <h3>Masked Wolf</h3>
            <br /><br />
            <audio controls>
                <source src="{{mus.0.sound}}" />
            </audio>
        </div>
    </div>
</div>