<div class="trends" id="bottom">
    <div class="content">
        <div class="most-play">
            <h1 style="text-align: center; margin-bottom: 30px">
                Most Listening Music
            </h1>
            <div class="list">
                <ol>
                    {{#each mus}}
                    <li>
                        {{this.title}}
                        <audio id="list" controls>
                            <source src="{{this.sound}}" />
                        </audio>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
    <div class="bg-trans1">
        <h1 style="text-align: center; color: blueviolet">
            Find Out What People Most Listening
        </h1>
        <br />
        <h3>
            While you share your feeling, you can understand how other feeling
            too. You both can listening the most play music globally. It means we
            care of each other and spread our feeling through music.
        </h3>
        <br />
        <i class="fas fa-chevron-circle-left fa-3x"></i>
    </div>
</div>