{{> addedit/header}}

<div class="boxcontainer">
    <video id="bg-vid" autoplay loop muted src="/public/vid/banner.mp4"></video>
    <div class="bg-trans"></div>
    {{#if message}}
    <div class="flash-message">
        <p style="margin: 10px 0; color: {{message.color}}; text-align:center;">
            {{message.message}}
        </p>
    </div>
    {{/if}}
    <div class="box" style="height: 30%; width: 30%">
        <h1>{{title}}</h1>
        <form id="edit-form" action="/add-musics" method="post" enctype="multipart/form-data">
            <div class="music-form">
                <input type="text" id="title" name="title" placeholder="Input music title here" />
                <input type="file" id="music" name="music">
            </div>
        </form>
        <div class="button">
            <button id="btn-update" form="edit-form" type="submit">Add Music</button>
            <button id="btn-cancel" onclick="window.location.href='/musics'">
                Back
            </button>
        </div>
    </div>
</div>
</div>

{{> addedit/footer}}