</div>

</div>

<script src="/public/dashboard/vendors/js/vendor.bundle.base.js"></script>
<script src="/public/dashboard/js/off-canvas.js"></script>
<script src="/public/dashboard/js/hoverable-collapse.js"></script>
<script src="/public/dashboard/js/misc.js"></script>
<script src="/public/dashboard/js/settings.js"></script>
<script src="/public/dashboard/js/bootstrap.bundle.js"></script>
</body>

</html>