<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/dashboard/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/public/dashboard/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/public/dashboard/css/style.css" />
    <link rel="stylesheet" href="/public/dashboard/css/custom.css" />
    <link rel="shortcut icon" href="/public/dashboard/images/logo.svg" />
</head>