<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="
            sidebar-brand-wrapper
            d-none d-lg-flex
            align-items-center
            justify-content-center
            fixed-top
          ">
            <a class="sidebar-brand brand-logo" href="/profile"><img src="/public/dashboard/images/logo-mini.svg"
                    alt="logo" style="max-width: 100px" /></a>
            <a class="sidebar-brand brand-logo-mini" href="/profile"><img src="/public/dashboard/images/logo.svg"
                    alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item nav-category">
                <span class="nav-link">Dashboard</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/profile">
                    <span class="menu-icon">
                        <i class="mdi mdi-account-star"></i>
                    </span>
                    <span class="menu-title">Profile</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="mdi mdi-library-music"></i>
                    </span>
                    <span class="menu-title">Musics Library</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/musics"><span class="menu-icon">
                                    <i class="mdi mdi-file-music text-light"></i>
                                </span><span class="menu-title">My Musics</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/playlist"><span class="menu-icon">
                                    <i class="mdi mdi-format-list-bulleted text-warning"></i>
                                </span><span class="menu-title">Playlist</span></a></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/friend"><span class="menu-icon">
                                    <i class="mdi mdi-music-note-sixteenth text-primary"></i>
                                </span><span class="menu-title">Friend's Music</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/summary"><span class="menu-icon">
                                    <i class="mdi mdi-format-line-style text-success"></i>
                                </span><span class="menu-title">Music Summary</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/artist">
                    <span class="menu-icon">
                        <i class="mdi mdi-account-search"></i>
                    </span>
                    <span class="menu-title">Artist</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/genre">
                    <span class="menu-icon">
                        <i class="mdi mdi-playlist-play text-primary"></i>
                    </span>
                    <span class="menu-title">Genre</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/logout">
                    <span class="menu-icon">
                        <i class="mdi mdi-logout text-danger"></i>
                    </span>
                    <span class="menu-title">Logout</span>
                </a>
            </li>

            <li class="nav-item menu-items text-center">
                <button class="navbar-toggler navbar-toggler align-self-center btn-dark" type="button"
                    data-toggle="minimize">
                    <span class="mdi mdi-arrow-expand-horizontal"></i></span>
                </button>
            </li>
        </ul>
    </nav>